<template>
  <div class="panel">
    <div class="panel-loading" v-if="loading">
      <p class="panel-loading__text"><i class="fas fa-circle-notch fa-spin"></i></p>
    </div>
    <div v-else-if="!atcoCode" class="alert">
      <p class="alert__text">First click on the area you are interested in, then select some stop! :)</p>
    </div>
    <div class="panel__content" v-else-if="stop">
      <div class="stop-info">
        <h3>{{stop.stop_name}}</h3>
        <p><i class="fas fa-map-marker-alt"></i>{{stop.locality}}</p>
        <p><i class="fas fa-hashtag"></i>{{stop.atcocode}}</p>
      </div>
      <div class="departures">
        <h3>Departures:</h3>
        <div v-if="departures.length>0" class="departures__content">
          <div v-for="(departure, index) in departures" :key="index" class="departure">
            <p><i class="fas fa-bus"></i>{{departure.line}}</p>
            <p><i class="fas fa-arrow-right"></i>{{departure.direction}}</p>
            <p><i class="far fa-clock"></i>{{departure.expected_departure_time}}</p>
          </div>
        </div>
        <div v-else class="departures__content">
          <p>No departures...</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import API from '../api'

export default {
  name: 'Panel',
  props: {
    atcoCode: {
      type: String,
      default: '',
    }
  },
  data () {
    return {
      stop: null,
      departures: null,
      loading: false,
    };
  },
  watch: {
    atcoCode: function (atcoCode) {
      if(atcoCode) {
        this.loading = true
        API.getStopDepartures(atcoCode)
        .then(response => {
          this.stop = response.data
          let departures = Object.values(response.data.departures).flat()
          departures.forEach(departure => {
            const [ year, month, day ] = [...departure.expected_departure_date.split('-')]
            const [ hour, minute ] = [...departure.expected_departure_time.split(':')]
            departure.timestamp = new Date(year, month-1, day, hour, minute).getTime()
          });
          departures.sort((a,b) => a.timestamp - b.timestamp);
  
          this.departures = departures
          this.loading = false
        })
        .catch(() => {
          alert("Error occured, try again.")
        })
      }
    },
  },
}
</script>

<style lang="scss">
.panel {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  background-color: #505050;
  color: white;
  padding: 20px;
  i {
    margin-right: 5px;
  }

  &__content {
    width: 100%;
    height: 100%;
    text-align: left;
  }

  .alert {
    &__text {
      color: white;
    }
  }

  .stop-info {
    align-items: flex-start;
    height: 120px;
  }

}

.departures {
  height: 100%;

  &__content {
    overflow-y: scroll;
    max-height: calc(100% - 200px);
  }
}

.departure {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  p {
    margin: 0;
  }
  &:last-child {
    border-bottom: none;
  }
} 

.panel-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &__text {
    font-size: 50px;
    color: white;
  }
}
</style>
