<template>
  <div id="app">
    <main class="container">
      <Panel :atcoCode="selectedStop.atcocode"/>
      <l-map
        style="height: 100%; width: 100%"
        :zoom="zoom"
        :center="center"
        @click="setSearchPoint"
      >
        <l-tile-layer :url="url"></l-tile-layer>
        <l-circle-marker
          v-for="stop in stops" 
          :key="stop.atcocode" 
          :lat-lng="[stop.latitude, stop.longitude]"
          :radius="4"
          :color="'#505050'"
          v-on:click="showStopInfo($event, stop)">
          <l-popup>{{stop.name}}</l-popup>
        </l-circle-marker>
      </l-map>
      <div class="loading" v-if="loading">
        <p class="loading__text"><i class="fas fa-circle-notch fa-spin"></i></p>
      </div>
    </main>
  </div>
</template>

<script>
import { LMap, LCircleMarker, LPopup } from 'vue2-leaflet';
import Panel from './components/Panel'
import API from './api'

export default {
  name: 'App',
  components: {
    LMap,
    LCircleMarker,
    LPopup,
    Panel
  },
  methods: {
    setSearchPoint(event) {
      const coords = Object.values(event.latlng)
      if (JSON.stringify(this.searchPoint) != JSON.stringify(coords)) {
        this.loading = true
        API.getBusStops(...coords, 'bus_stop')
        .then(response => {
          this.stops = response.data.member
          this.loading = false
        })
        .catch(() => {
          alert("Error occured, try again.")
        })
      }
    },
    showStopInfo(event, stop) {
      this.searchPoint = Object.values(event.latlng)
      this.selectedStop = stop
    },
  },
  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      selectedStop: {},
      zoom: 11,
      center: [51.509865, -0.118092],
      londonBorders: {
        north: 51.694639972603,
        south: 51.252489863014,
        west: -0.49883412264151,
        east: 0.30822801886792
      },
      stops: [],
      loading: false,
      searchPoint: null

    };
  },
}
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  &__text {
    color: black;
    font-size: 50px;
    padding: 20px 50px;
    background-color: white;
    border-radius: 20px;
  }
}
#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>